<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="footer-ul">
                        <ul>
                            <li>
                                <a href="@Url.Action("Index","Index")" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/index.html">网站首页</a>
                            </li>
                            <li>
                                <a href="@Url.Action("About","About")" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/about.html">关于我们</a>
                            </li>
                            @*<li> 业务范围 注释掉暂时不用
                                <a href="yewu.html" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/yewu.html">业务范围</a>
                            </li>*@
                            <li>
                                <a href="@Url.Action("News","News")" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/news.html">新闻资讯</a>
                            </li>
                            @*<li> 网上下单 注释掉暂时不用
                                <a href="xiadan.html" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/xiadan.html">网上下单</a>
                            </li>*@
                            <li>
                                <a href="@Url.Action("Contact","Contact")" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/contact.html">联系我们</a>
                            </li>
                        </ul>
                    </div>
                    <div class="copy-r">
                        <p>@Model.CompanyDto.CompanyCopyright | @Model.CompanyDto.CompanyRecord</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>