@model ChangHeWebSite.Models.Dto.FrontDto
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <title>@Model.CompanyDto.CompanyName</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="@Model.CompanyDto.CompanyKeyWord"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/tf.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style1.css"/>

</head>

<body>
    <div id="app">
        <!--头部视图渲染start-->
        @Html.Partial("_Header");
        <!--头部视图渲染end-->
        <div id="wrapper" class="about-page">
            <img src="/images/7htc.jpg" class="about-page-img" />
        </div>
        <div class="about-us">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="cebian">
                            <img src="/images/ww.png" />
                            <div>
                                <div></div>
                                <h2>关于我们</h2>
                                <p>ABOUT US</p>
                            </div>
                        </div>
                        <div class="ab-cebian"></div>
                        <div class="cebian-lianxi">
                            <div><strong>全国服务热线 :</strong></div>
                            <div><span>@Model.CompanyDto.CompanyPhone</span></div>
                            <div><strong>联系人:</strong>@Model.CompanyDto.CompanyContactPerson</div>
                            <div><strong>微信:</strong>@Model.CompanyDto.CompanyWeChat</div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="bread-xie">
                            <a href="index.html" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/index.html">首页</a>>><a href="">关于我们</a>
                        </div>
                        <div class="about-jianjie">
                            <p>@Model.CompanyDto.CompanyDescription</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_Bottom")
    </div>
</body>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</html>