@model ChangHeWebSite.Models.Dto.FrontDto
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <title>@Model.CompanyDto.CompanyName</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="@Model.CompanyDto.CompanyKeyWord" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/tf.css" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/css/tf.css" />
    <link rel="stylesheet" type="text/css" href="/css/style1.css" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/css/style1.css" />

</head>

<body>
    <!--头部视图渲染start-->
    @Html.Partial("_Header");
    <!--头部视图渲染end-->
    <div id="wrapper" class="about-page">
        <img src="/images/7htc.jpg" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu///images/7htc.jpg" class="about-page-img" />
    </div>
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="cebian">
                        <img src="/images/ww.png" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu///images/ww.png" />
                        <div>
                            <div></div>
                            <h2>新闻动态</h2>
                            <p>NEWS</p>
                        </div>
                    </div>
                    <div class="ab-cebian"></div>
                    <div class="cebian-list">
                        <ul>
                            @foreach (var newsClassification in Model.NewsClassifications)
                            {
                                <li><a href="@Url.Action("News","News")?id=@newsClassification.Id">@newsClassification.NewsClassificationName</a></li>
                            }
                        </ul>
                    </div>
                    <div class="ab-cebian"></div>
                    <div class="cebian-lianxi">
                        <div><strong>全国服务热线 :</strong></div>
                        <div><span>@Model.CompanyDto.CompanyPhone</span></div>
                        <div><strong>联系人:</strong>@Model.CompanyDto.CompanyContactPerson</div>
                        <div><strong>微信:</strong>@Model.CompanyDto.CompanyWeChat</div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="bread-xie">
                        <a href="index.html" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/index.html">首页</a>>><a href="news.html" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/news.html">@Model.NewsDto.NewsTitle</a>
                    </div>
                    <div class="news-list-xq clearfix">
                        <div class="clearfix">
                            <div class="col-sm-12">
                                <h4>@Model.NewsDto.NewsTitle</h4>
                                <div class="author"><span>作者:@Model.NewsDto.NewsAuthor</span><span>发布时间: @Model.NewsDto.NewsCreateDate.ToString("yyyy-MM-dd hh:mm:ss")</span></div>
                                <div class="content">
                                    @Model.NewsDto.NewsContent
                                </div>
                                <div>
                                    @{
                                        if (Model.PreviousNews != null)
                                        {
                                            <div><a href='@Url.Action("Detail", "News")?newsId=@Model.PreviousNews.Id@( Model.CurrentNewsClassification != null ? "&newsClassificationId=" + Model.CurrentNewsClassification : ""):""'>上一篇：@Model.PreviousNews.NewsTitle</a></div>
                                        }
                                        else
                                        {
                                            <div><a href="javascript:;">上一篇：暂无更多</a></div>
                                        }
                                        if (Model.NextNews != null)
                                        {
                                            <div><a href='@Url.Action("Detail","News")?newsId=@Model.NextNews.Id@( Model.CurrentNewsClassification != null ? "&newsClassificationId=" + Model.CurrentNewsClassification : ""):""'>上一篇：@Model.NextNews.NewsTitle</a></div>
                                        }
                                        else
                                        {
                                            <div><a href="">下一篇：暂无更多</a></div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部渲染start-->
    @Html.Partial("_Bottom");
    <!--底部渲染end-->

</body>
<script type="text/javascript" src="/js/jquery.min.js" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/js/main.js"></script>

</html>