@model ChangHeWebSite.Models.Dto.FrontDto
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <title>@Model.CompanyDto.CompanyName</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="@Model.CompanyDto.CompanyKeyWord"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cubeportfolio.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/tf.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="" href="/css/public.css" />
</head>

<body>
    <!--头部视图渲染start-->
    @Html.Partial("_Header");
    <!--头部视图渲染end-->
    <div id="wrapper">
        <div class="fullwidthbanner-container">
            <div class="fullwidthbanner">
                <ul>
                    @foreach (var cover in Model.Covers)
                    {
                        <li data-transition="turnoff" data-slotamount="15" data-masterspeed="300">
                            <img src="@cover.ImageUrl"/>
                        </li>
                    }
                    @*<li data-transition="3dcurtain-horizontal" data-slotamount="15" data-masterspeed="300">
                        <img src="images/slide3.jpg"/>
                    </li>

                    <li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-link="#">
                        <img src="images/slide2.jpg"/>
                    </li>
                    <li data-transition="turnoff" data-slotamount="15" data-masterspeed="300">
                        <img src="images/slide1.jpg"/>
                    </li>
                    <li data-transition="turnoff" data-slotamount="15" data-masterspeed="300">
                        <img src="images/slide4.jpg"/>
                    </li>*@

                </ul>
            </div>
        </div>
        <div class="banner-container">
            <div>
                <div class="banner-wenzi">
                    <h2>致力于：国际空运、海运、陆运</h2>
                    <div>等多项物流</div>
                    <p>安全第一 . 速度第一 . 诚信第一 . 技术第一</p>
                </div>
            </div>
        </div>
    </div>
    <div class="index-about">
        <div class="container">
            <div class="row" style="margin-bottom: 30px;">
                <div class="index-about-top">
                    <strong>S</strong>
                    <div>
                        <span>服务项目</span>
                        <span class="index-span">ERVICE ITEMS</span>
                    </div>
                    <p>安全第一 · 速度第一 · 诚信第一 · 技术第一</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="index-fuwu">
                        <div>
                            <img src="images/fuw.png" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/fuw.png" />
                            <img src="images/fuw1.png" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/fuw1.png" class="fuw1" />
                        </div>
                        <h4>整车运输</h4>
                        <p>拥有解放、东风、五十铃、康明斯等格式运输车辆几百部</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="index-fuwu">
                        <div>
                            <img src="images/fuw.png" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/fuw.png" />
                            <img src="images/fuw2.png" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/fuw2.png" class="fuw1" />
                        </div>
                        <h4>仓储运输</h4>
                        <p>领先的信息系统，全程可视，让您随时掌握每单业务的准确进度</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="index-fuwu">
                        <div>
                            <img src="images/fuw.png" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/fuw.png" />
                            <img src="images/fuw3.png" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/fuw3.png" class="fuw1" />
                        </div>
                        <h4>空车配送</h4>
                        <p>具有多温控组合运输，配送能力和异化服务的运输产品及模式</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="index-fuwu">
                        <div>
                            <img src="images/fuw.png" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/fuw.png" />
                            <img src="images/fuw4.png" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/fuw4.png" class="fuw1" />
                        </div>
                        <h4>安全包装</h4>
                        <p>专业从事国内各地货物运输服务，有着严谨的运输组织</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-about">
        <div class="container">
            <div class="row" style="margin-bottom: 30px;">
                <div class="index-about-top">
                    <strong>A</strong>
                    <div>
                        <span>关于我们</span>
                        <span class="index-span">BOUT US</span>
                    </div>
                    <p>安全第一 · 速度第一 · 诚信第一 · 技术第一</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="index-ab-bj">
                    <img src="images/ab.png" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/ab.png" />
                    <div>
                        <h3>公司介绍</h3>
                        <p>COMPANY INTRODUCTION</p>
                        <p>@(Model.CompanyDto.CompanyDescription.Length>200?Model.CompanyDto.CompanyDescription.Substring(0,225)+"……":Model.CompanyDto.CompanyDescription)</p>
                        <div class="index-ab-gd">
                            <a href="@Url.Action("About","About")">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-index">
        <div class="container">
            <div class="row">
                <div class="index-about-top">
                    <strong>S</strong>
                    <div>
                        <span>服务领域</span>
                        <span class="index-span">ERVICE AREA</span>
                    </div>
                    <p>安全第一 · 速度第一 · 诚信第一 · 技术第一</p>
                </div>
            </div>

            <div class="row index-pro">
                <div class="clearfix index-pro-list one">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-index-img">
                            <a>
                                <img src="images/5.jpg" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/5.jpg" />
                                <img src="images/5.jpg" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/5.jpg" class="img-service" />
                                <h3>公路运输</h3>
                                <p>发展汽运服务，充分运用各式运输车辆为客户提供全方位、灵活的干线运输服务。为区域性连锁、门到门、特殊性、专业性客户提供联动服务</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-index-img">
                            <a>
                                <img src="images/6.jpg" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/6.jpg" />
                                <img src="images/6.jpg" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/6.jpg" class="img-service" />
                                <h3>海陆运输</h3>
                                <p>无论您需要什么物流服务，需要您做的只是想起我们。我们坚持：不懈努力 追求卓越前进的道路没有终点，为您打造拥有海上运输服务</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-index-img">
                            <a>
                                <img src="images/7.jpg" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/7.jpg" />
                                <img src="images/7.jpg" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/7.jpg" class="img-service" />
                                <h3>铁路运输</h3>
                                <p>时速达160公里/小时特快行邮专列属中国最快的铁路货运专列，按直达特快客运列车等级运行，为高附加值产品提供直达快运服务</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-index-img">
                            <a>
                                <img src="images/8.jpg" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/8.jpg" />
                                <img src="images/8.jpg" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/8.jpg" class="img-service" />
                                <h3>航空运输</h3>
                                <p>办理各类货物的航空运输，包括集中托运、门到门运输等；提供空、陆空联运等多式联运；承办文件、样品、小件物品的一条龙运输服务</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="index-pro-gd">
                <a href="javascript:if(confirm('http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/product.html  \n\nكτݾϞרԃ Teleport Ultra Ђ՘, ӲΪ ؾϱǷѨ٦كτݾδ֒սc  \n\nţЫ՚ؾϱǷʏղߪ̼?'))window.location='http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/product.html'" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/product.html">查看更多</a>
            </div>
        </div>
    </div>

    <div class="news-bufen">
        <div class="container">
            <div class="row">
                <div class="index-about-top news-title">
                    <strong>N</strong>
                    <div>
                        <span>新闻资讯</span>
                        <span class="index-span">EWS</span>
                    </div>
                    <p>安全第一 · 速度第一 · 诚信第一 · 技术第一</p>
                </div>
            </div>

            <div class="row index-n">
                <div class="index-news one clearfix">
                    @for (int i = 0; i < Model.Newses.Count && i < 4; i++)
                    {
                        <div class="col-md-3 col-sm-6">
                            <div class="service-index-img">
                                <a href="@Url.Action("Detail", "News")?newsId=@Model.Newses[i].Id">
                                    <img src="@Model.Newses[i].NewsCover" />
                                    <h3>@Model.Newses[i].NewsTitle</h3>
                                    <time>@Model.Newses[i].NewsCreateDate</time>
                                    <p>@Model.Newses[i].NewsContent</p>
                                </a>
                            </div>
                        </div>
                    }
                    @*<div class="col-md-3 col-sm-6">
            <div class="service-index-img">
                <a href="news-xq.html" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/news-xq.html">
                    <img src="images/ibvz.jpg" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/ibvz.jpg" />
                    <h3>影响我国危化品物流运输的因素</h3>
                    <time>2017-06-21</time>
                    <p>危化品物流运输爆炸，导致了悲剧的发生，通过悲剧，我们也看到了危化品物流运输的安全问题，目前我国的危化品物流行业的现状是小，散，乱，差的，导致这些现象的因素是很多的，以下原因导致我国危化品物流运输的现状。​</p>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="service-index-img">
                <a href="news-xq2.html" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/news-xq2.html">
                    <img src="images/j6x7.jpg" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/j6x7.jpg" />
                    <h3>现代物流的几个特征</h3>
                    <time>2017-06-21</time>
                    <p>如今是电子商务时代，现代物流的服务的核心目标，就是在物流过程中，以最小的综合成本来满足顾客的需求，现代物流存在以下特征的。</p>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="service-index-img">
                <a href="news-xq3.html" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/news-xq3.html">
                    <img src="images/3l5t.jpg" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/3l5t.jpg" />
                    <h3>智能物流打造物流服务新高度</h3>
                    <time>2017-06-21</time>
                    <p>随着物流的逐步发展，各种各样得创新规模都相距出现，而智能物流，就是其中之一。</p>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="service-index-img">
                <a href="news-xq4.html" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/news-xq4.html">
                    <img src="images/wkoc.jpg" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/images/wkoc.jpg" />
                    <h3>物流公司浅析包装在物流运输中的五点作用</h3>
                    <time>2017-06-21</time>
                    <p>物流公司浅析包装在物流运输中的五点作用：包装是物流的起点，而包装的合理化、低成本更是现代物流最基础的物质保证。北京物流公司专家为你介绍一下，包装在物流业务时所起到的五点作用，从而提高竞争力，以优质的服务获得用户认可。</p>
                </a>
            </div>
        </div>*@
                </div>
                <div class="index-pro-gd">
                    <a href="@Url.Action("News","News")">查看更多</a>
                </div>

            </div>
        </div>
    </div>
    <div class="index-lianxi">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="lianxi-p"><span>联系方式</span></p>
                    <img src="@Model.CompanyDto.CompanyQRcode" style="width: 200px"/>
                    <p class="content-center"><i></i><strong>地址:</strong>@Model.CompanyDto.CompanyLocation</p>
                    <p class="content-center"><i></i><strong>邮箱:</strong>@Model.CompanyDto.CompanyEmail</p>
                    <p class="content-center"><i></i><strong>电话:</strong>@Model.CompanyDto.CompanyPhone</p>
                </div>
                <div class="col-md-4">
                    <p class="lianxi-p"><span>企业地址</span></p>
                    <div id="mapContainer" style="width: 100%; height: 250px;border: #2f4056 solid 1px;">

                    </div>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <p class="lianxi-p"><span>联系我们</span></p>
                    <p><strong>您的姓名:</strong>&nbsp;&nbsp;&nbsp;<input type="text" name="name" id="name" message/></p>
                    <p><strong>留言备注:</strong>&nbsp;&nbsp;&nbsp;<textarea name="content" id="content" message/></textarea></p>
                    <p><strong>联系电话:</strong>&nbsp;&nbsp;&nbsp;<input type="text" name="phone" id="phone" message/></p>
                    <p><strong>您的邮箱:</strong>&nbsp;&nbsp;&nbsp;<input type="text" name="email" id="email" message/></p>
                    <p class="tijiao"><a href="javascript:;" id="tijiao">留言</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--头部视图渲染start-->
    @Html.Partial("_Bottom");
    <!--头部视图渲染end-->
</body>
<script type="text/javascript" src="/js/jquery.min.js" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery-1.8.3.min.js" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.banner.revolution.min.js" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/js/jquery.banner.revolution.min.js"></script>
<!--<script type="text/javascript" src="js/jquery.cubeportfolio.min.js"></script>
<script type="text/javascript" src="js/portfolio-masonry-4col.js"></script>-->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZwMXv7df2oHTRqS33EXtfTlMGpaphY66"></script>
<script type="text/javascript" src="js/banner.js" tppabs="http://www.17sucai.com/preview/850167/2017-12-22/kunshanwuliu/js/banner.js"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<!--向上滚动-->
<!--<script src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
    jQuery(".txtMarquee-top").slide({
        mainCell: ".bd ul",
        autoPlay: true,
        effect: "topMarquee",
        vis: 8,
        interTime: 50
    });
</script>-->
<script>
    $("#tijiao").click(function () {
        var inputs = $("[message]");
        var NotEmpty = true;
        inputs.each(function(value,data) {
            if ($(data).val() === "") {
                layer.msg("如需留言的话请填写完整信息哦！");
                NotEmpty = false;
            } 
        });
        if (NotEmpty) {
            var message = new Object();
            message.name = $("#name").val();
            message.content = $("#content").val();
            message.phone = $("#phone").val();
            message.email = $("#email").val();
            console.log(message);

            $.post('@Url.Action("InsertMessage","Index")',
                message,
                function(data, status) {
                    if (data.success && data.data > 0) {
                        layer.msg("我们已经收到您的消息，请等待我们联系您！");
                    } else {
                        layer.msg("网路错误");
                    }
                    $("#name").val("");
                    $("#content").val("");
                    $("#phone").val("");
                    $("#email").val("");
                });
        }
    });
</script>
<script>
    var map = new BMap.Map("mapContainer");
    var point = new BMap.Point(@Model.CompanyDto.Lng, @Model.CompanyDto.Lat);
    var marker = new BMap.Marker(point);        // 创建标注    
    map.addOverlay(marker);                     // 将标注添加到地图中
    map.centerAndZoom(point, 15);
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    window.setTimeout(function(){  
        map.panTo(point);    
    }, 500);
</script>
<script>
    $(function () {
        $(".news-tab li").click(function () {
            $(this).siblings().removeClass('current');
            $(this).addClass('current');
            $('.news-container li').removeClass('one-li');
            $('.news-container li').eq($(this).index()).addClass('one-li');
        })
    });
</script>

<script>
    $(".pro-ul >li").click(function () {
        $(this).siblings().removeClass('active');
        $(this).addClass("active");
        $(".index-pro >div").removeClass("one");
        $(".index-pro >div").eq($(this).index()).addClass("one")
    })
</script>
<script>
    $(".news-bufen .pro-ul >li").click(function () {
        $(this).siblings().removeClass('active');
        $(this).addClass("active");
        $(".index-n >div").removeClass("one");
        $(".index-n >div").eq($(this).index()).addClass("one")
    })
</script>
<script>
    //右侧返回顶部图标
    $(function () {
        var icon = '<a class="gotoptop_icon" id="gotoptop_icon" href="#" title="返回顶部"></a>';
        $("body").append(icon);
        var $window = $(window);
        var $gotoptop_icon = $("#gotoptop_icon");
        var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body'); // opera fix
        $(window).bind('scroll resize', function () {
            if ($window.scrollTop() > 0) {
                $gotoptop_icon.show();
            } else {
                $gotoptop_icon.hide();
            }
        });
        $gotoptop_icon.bind('click', function () {
            $body.animate({
                scrollTop: '0px'
            }, "fast");
            return false;
        });
    });
</script>

</html>